<div nz-col [nzSpan]="6" *ngIf="pos">
  <nz-card nzTitle="{{ProductosHogar[pos].Titulo}}">
    <img class="imgcard" src="{{ProductosHogar[pos].imagen}}">
    <nz-card-meta nzDescription="{{ProductosHogar[pos].Descripcion}}"></nz-card-meta>
    <nz-card-meta nzTitle="Precio:${{ProductosHogar[pos].Precio}}"> </nz-card-meta>
    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Color" [(ngModel)]="selectedValue" >
      <nz-option nzLabel="{{color['nombre']}}" nzValue="{{color['nombre']}}" *ngFor="let color of ProductosHogar[pos].color"></nz-option>
    </nz-select>
  </nz-card>
</div>
