<app-header></app-header>
 <div class="inner-content">
  <div style="background: #ECECEC;padding:38px;">
    <div nz-row [nzAlign]="6">
      <div nz-col [nzSpan]="6">
        <nz-card nzTitle="Poliuretano Single Stage S600">
          <img class="imgcard" src="assets/img/Productos/1.jpg">
           <p >Precio: $ 200,000 </p>
          <p>Los entonadores de la serie 600 de Automotriz Pintuco son Poliuretanos en 2 componentes,
            formulados especialmente para obtener un producto de alta calidad. </p>
        </nz-card>
      </div>
      <div nz-row [nzAlign]="6">
        <nz-card nzTitle="Poliuretano IXELL">
          <img class="imgcard" src="assets/img/Productos/2.jpg">
          <p>Precio: $ 80,000</p>
          <p>Barniz especializado altos sólidos excelente brillo.</p>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-card nzTitle="Flash Primer">
          <img class="imgcard" src="assets/img/Productos/3.jpg">
          <p>Precio: $ 75,000</p>
          <p>El Flash Primer 2k es un producto dos componentes de secado rápido con excelentes propiedades de adherencia,
            fácil lijado, medio contenido de sólidos, buen poder de relleno y buen cubrimiento en la aplicación.</p>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-card nzTitle="Base Anticorrosiva para Metal">
          <img class="imgcard" src="assets/img/Productos/4.jpg">
          <p>Precio: $ 95,000</p>
          <p>El Poliuretano IXELL  es un sistema de dos componentes fabricado a base de resinas poliuretano;
            Adicionalmente  endurecedor de isocianato, Endurecedor X-20, se puede preparar colores sólidos en sistema monocapa</p>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-card nzTitle="Cera Simoniz Super Blue">
          <img class="imgcard" src="assets/img/Productos/5.jpg">
          <p>Precio: $ 50,000</p>
          <p>Revive el color original en cualquier tipo de pintura. Su fórmula contiene agentes que limpian, desmanchan y brillan,
            protegiendo cualquier tipo y color de pintura, forma una capa que repele el polvo y agua, evitando así, la decoloración
            y oxidación prematura.</p>
        </nz-card>
      </div>
      <div nz-row [nzAlign]="6">
        <nz-card nzTitle="Laca Philaac">
          <img class="imgcard" src="assets/img/Productos/6.jpg">
          <p>Precio: $ 44,000</p>
          <p>Es un producto para recubrimientpo de rapido secado.</p>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-card nzTitle="Cinta de Enmascarar Scotch 3M">
          <img class="imgcard" src="assets/img/Productos/7.jpg">
          <p>Precio: $ 10,000</p>
          <p>Excelente adaptación a curvas, Indicada para pintura base agua o disolvente
            Apenas deja borde de pintura, Apenas deja borde de pintura,Resiste ciclos de hasta 100ºC de temperatura.</p>
          <P>Disponible en medida: ½”, ¾”, 1” y 2”</P>
        </nz-card>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-card nzTitle="Caralz P120 Pulidor">
          <img class="imgcard" src="assets/img/Productos/8.jpg">
          <p>Precio: $ 16,000</p>
          <p>Producto de uso profesional, se recomienda para el pulido rápido de cualquier tipo de pintura,
            con un alto poder de corte en los recubrimientos de alto rendimiento. Es menos abrasivo que el
            P111 Pasta Pulidora P1, en los casos donde se usó la pasta pulidora no es necesario usar este producto y viceversa mente</p>
        </nz-card>
      </div>











