<app-header></app-header>
<div class="inner-content">
  <div style="background: #ECECEC;padding:38px;">
    <div nz-row [nzAlign]="6">

      <div nz-col [nzSpan]="6" *ngFor="let item of Productos;let i=index" routerLink="/detail/{{i}}" (click)="funcion(i)">
        <nz-card nzTitle="{{item.Titulo}}">
          <img class="imgcard" src="{{item.imagen}}">
          <nz-card-meta nzDescription="{{item.Descripcion}}"></nz-card-meta>
          <nz-card-meta nzTitle="{{item.Precio}}" ></nz-card-meta>
          {{pruebaService.prueba}}
          <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Color" [(ngModel)]="selectedValue" (ngModelChange)="prueba()">
            <nz-option nzLabel="{{color.nombre}}" nzValue="{{color.nombre}}" *ngFor="let color of item.color"></nz-option>
          </nz-select>
        </nz-card>
      </div>

      <div nz-col [nzSpan]="6" *ngIf="pos">
        <nz-card nzTitle="{{Productos[pos].Titulo}}">
          <img class="imgcard" src="{{Productos[pos].imagen}}">
          <nz-card-meta nzDescription="{{Productos[pos].Descripcion}}"></nz-card-meta>
          <nz-card-meta nzTitle="{{Productos[pos].Precio}}"></nz-card-meta>
        </nz-card>
      </div>



