<app-header></app-header>
<div class="inner-content">
  <div style="background: #ECECEC;padding:38px;"> </div>
    <img class="logo" src="assets/img/logo1.jpg">
    <p class="Titulo">Formulario</p>

    <form nz-form #Person="ngForm">
        <nz-form-item>
          <nz-form-label>Nombre</nz-form-label>
            <div [class.error]="(nombre.invalid && nombre.touched) && nombre.errors.required">
              <input  type="text" nz-input placeholder="Nombre" [(ngModel)]="pruebaPerson.nombre" #nombre="ngModel" name="nombre" maxlength="20" required/>
            </div>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Apellido</nz-form-label>
            <div [class.error]="(apellido.invalid && apellido.touched) && apellido.errors.required">
              <input type="text" nz-input placeholder="Apellido" [(ngModel)]="pruebaPerson.apellido" #apellido="ngModel" name="apellido" maxlength="20" required/>
            </div>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label>Telefono</nz-form-label>
            <div [class.error]="(telefono.invalid && telefono.touched) && telefono.errors.required">
              <input type="number" nz-input placeholder="Telefono" [(ngModel)]="pruebaPerson.telefono" #telefono="ngModel" name="telefono"required/>
            </div>
      </nz-form-item>

      <button (click)="enviar()" [disabled]="!Person.form.valid" [class.active1]="Person.form.valid"[class.disabled1]="!Person.form.valid">Enviar</button>
    </form>
  </div>






