<app-header></app-header>
<div class="inner-content">
  <div style="background: #ECECEC;padding:38px;">
  <div nz-row [nzAlign]="6">
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Sika Transparente 10">
        <img class="imgcard" src="assets/img/Hogar/1.jpg">
        <p >Precio: $ 80,000 </p>
        <p>Sika Transparente 10 es inflamable, por lo tanto no se debe fumar cerca, ni exponer el producto al fuego directo.
          No se debe aplicar bajo sol directo. Proteger de la lluvia 2 a 3 horas después de aplicado. </p>
      </nz-card>
    </div>
    <div nz-row [nzAlign]="6">
      <nz-card nzTitle="Viniltex">
        <img class="imgcard" src="assets/img/Hogar/2.jpg">
        <p>Precio: $ 200,000</p>
        <p>Viniltex Blanco Hueso 1538 lo mejor en calidad y precio.</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Removedor de pintura">
        <img class="imgcard" src="assets/img/Hogar/3.jpg">
        <p>Precio: $ 45,000</p>
        <p>Es un producto con base en disolventes muy activos, que atacan la mayoría de recubrimientos para su remoción total.
          Diseñado para quitar cualquier capa de pintura en mal estado y adecuar un nuevo sistema de pintura incompatible con el anterior.</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Vinilo Superlavable Tipo 1">
        <img class="imgcard" src="assets/img/Hogar/4.jpg">
        <p>Precio: $ 228,000</p>
        <p>Producto con certificado de calidad NTC 1335:2015.
          Vinilo diluible en agua con bajo olor, bajo VOC, para uso interior y exterior.
          Excelente lavabilidad y durabilidad.
          Recomendado para fachadas, muros, paredes, superficies de cemento, concreto, yeso
          y estuco que por su uso / tráfico intenso, requieran alta resistencia y lavabilidad para verse como el primer dia.</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Vinilo Superlavable Tipo 2">
        <img class="imgcard" src="assets/img/Hogar/5.jpg">
        <p>Precio: $ 153,800</p>
        <p>Producto con certificado de calidad NTC 1335:2015.
          Se puede aplicar sobre superficies nuevas como primera mano, antes de aplicar la segunda mano con VINILO SUPERLAVABLE TIPO 1 PINTULAND.
          Vinilo diluible en agua, tipo emulsión para uso interior, recomendado para pintar muros, paredes, superficies de cemento, concreto y estuco.
          Sirve como acabado final en ambientes interiores.</p>
      </nz-card>
    </div>
    <div nz-row [nzAlign]="6">
      <nz-card nzTitle="Vinilo Philaac">
        <img class="imgcard" src="assets/img/Hogar/6.jpg">
        <p>Precio: $ 222,000</p>
        <p>Vinilo tipo 1 de acabado mate.</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Esmalte Sintetico Dorado">
        <img class="imgcard" src="assets/img/Hogar/7.jpg">
        <p>Precio: $ 60,000</p>
        <p>Esmalte sintético de gran utilidad en la industria y en el hogar, de secamiento rápido,
          colores entremezclables, acabado brillante o mate, lavable  y con excelente adherencia.</p>
      </nz-card>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-card nzTitle="Barniz Sintetico">
        <img class="imgcard" src="assets/img/Hogar/8.jpg">
        <p>Precio: $ 40,000</p>
        <p>Barniz alquídico de secamiento al aire, acabado transparente brillante y mate, con especial adherencia, nivelación y flexibilidad.</p>
      </nz-card>
    </div>

