<nz-layout>
  <app-header></app-header>
  <nz-content>
    <nz-breadcrumb>
    </nz-breadcrumb>
    <div class="inner-content">
      <router-outlet></router-outlet>
      <nz-carousel nzAutoPlay>
        <div nz-carousel-content>
          <img class="imgCard" src="assets/img/1.jpg" alt="" style="width: 100%; height: 100%;">
        </div>
        <div nz-carousel-content >
          <img class="imgCard" src="assets/img/2.jpg" alt="" style="width: 100%; height: 100%;">
        </div>
      </nz-carousel>
    </div>
    <p class="Titulo">Pintu Mezcla "El Chavo"</p>

    <p class="Subtitulo">Visión</p>

    <p>La empresa Pintu mezcla El chavo quieres ser el distribuidor número uno de Norte de Santander En cuanto a pinturas y
      preparación de colores para tu vehículo y así dejar su nombre en alto a nivel departamental y nacional. Somos los principales distribuidores
      de Pintuco,IXELL,CARALZ,entre otros para asi satisfacer las necesidad de todos nuestro clientes.</p>
    <p class="Subtitulo">Misión</p>

    <p>Poder ser la empresa con la mejor calidad en productos de Pintura para tu casa y tu automóvil, hacer reconocer el nombre de esta empresa por
      su confiabilidad, responsabilidad y por su economía para que la clientela y proveedores pongan su confianza en nosotros, y así poder obtener
      el reconocimiento en cualquier lugar del país y/o del exterior.
      Somos una Distribuidora orgullosamente colombiana, conformada por un equipo humano comprometido, que fabrica y comercializa productos para el
      aseo, la limpieza y la industria. Satisfacemos las necesidades y expectativas de nuestros clientes y consumidores mediante el suministro oportuno
      de productos de calidad a precios competitivos, garantizando así la permanencia y prosperidad como empresa.</p>
  </nz-content>
  <app-footer></app-footer>
</nz-layout>
